{% extends "champion.html.twig" %}

{% set activePage = 'ezreal' %}
{% set champion = get_json('../json/ezreal.json') %}
{# block content %}
  <h3>Item Slot 3: Mobility</h3>
    <div class="row">
      <div class="span3">
        <p><b>Spammer</b></p>
        <ul>
          <li>Move speed</li>
          <li>6% CDR</li>
          <li>MS bonus after hitting with a spell</li>
        </ul>
      </div>
      <div class="span3">
        <p><b>Hammer</b></p>
        <ul>
          <li>Move speed</li>
          <li>Armor and MR pen</li>
        </ul>
      </div>
      <div class="span3">
        <p><b>Sustain</b></p>
        <ul>
          <li>Move speed</li>
          <li>3% CDR</li>
          <li>Slow on spell hit</li>
        </ul>
      </div>
    </div>
  <h3>Item Slot 4: Utility</h3>
    <div class="row">
      <div class="span3">
        <p><b>Spammer</b></p>
        <ul>
          <li>10% CDR</li>
          <li>Zhonya's style invulnerability</li>
        </ul>
      </div>
      <div class="span3">
        <p><b>Hammer</b></p>
        <ul>
          <li>Percentage Armor and MR pen</li>
        </ul>
      </div>
      <div class="span3">
        <p><b>Sustain</b></p>
        <ul>
          <li>5% CDR</li>
          <li>Cleanse</li>
        </ul>
      </div>
    </div>
  <h3>Item Slot 5: Damage</h3>
    <div class="row">
      <div class="span3">
        <p><b>Spammer</b></p>
        <ul>
          <li>6% CDR</li>
        </ul>
      </div>
      <div class="span3">
        <p><b>Hammer</b></p>
        <ul>
        </ul>
      </div>
      <div class="span3">
        <p><b>Sustain</b></p>
        <ul>
          <li>3% CDR</li>
        </ul>
      </div>
    </div>
  <h3>Item Slot 6: Defensive</h3>
    <div class="row">
      <div class="span3">
        <p><b>Spammer</b></p>
        <ul>
          <li>6% CDR</li>
        </ul>
      </div>
      <div class="span3">
        <p><b>Hammer</b></p>
        <ul>
        </ul>
      </div>
      <div class="span3">
        <p><b>Sustain</b></p>
        <ul>
          <li>3% CDR</li>
        </ul>
      </div>
    </div>
{% endblock #}
