{% extends "layout.html.twig" %}

{% set activePage = 'vayne' %}

{% block content %}
<div class="champion-header" style="background-image: url(http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Vayne_0.jpg); background-position: -288px -47px;">
  <h1>Vayne</h1>
</div>
<h2>Notes</h2>
<h2>Playstyles</h2>
{% endblock %}
