{% extends "layout.html.twig" %}

{% set activePage = 'karthus' %}

{% block content %}
  <div class="champion-header" style="background-image: url(http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Karthus_0.jpg); background-position: -288px -132px;">
    <h1>Karthus</h1>
  </div>
  <h2>Notes</h2>
  <h2>Playstyles</h2>
{% endblock %}
