{% extends "layout.html.twig" %}

{% set activePage = 'twisted fate' %}

{% block content %}
  <div class="champion-header" style="background-image: url(http://ddragon.leagueoflegends.com/cdn/img/champion/splash/TwistedFate_0.jpg); background-position: -288px -95px;">
    <h1>Twisted Fate</h1>
  </div>
  <h2>Notes</h2>
  <h2>Playstyles</h2>
{% endblock %}
