{% extends "layout.html.twig" %}

{% set activePage = 'home' %}

{% block content %}
  <h1>Champion Specific Items</h1>
  <h2>Why Change Items?</h2>
  <h3>What's Wrong Now:</h3>
  <p>Currently our items are setup as a global pool of items that can be used by all champions. This creates a massive amount of perceived choice to players. While good in theory, the number of "correct" item choices is very small, normally numbering in the range of 10 - 12 items with 4 or 5 of them being essential.</p>
  <p>What this means is that in nearly every game, nearly all champions build 84% exactly the same. This is an absurdly high number, and gives players the feeling that a champion is that item build. To an inexperienced player, that doesn't know the build, the player won't understand why they are weak and will just have a bad experience. To a higher end player, there is very low diversity among players. My ezreal is the same as their ezreal is the same as everyone's ezreal.</p>
  <p>In summary our current item system has:</p>
  <ul>
    <li>Low viable item choice</li>
    <li>Unintuitive item selection</li>
    <li>Lack of player individuality</li>
  </ul>
  <h3>What Change to Make:</h3>
  <p>This change revolves around two concepts. Item slots, and champion specific items. The idea is to designate each champion to have 6 different item slots, with several different options for each item slot. A player could never build more than one item for a specific slot. This would mean that the number of viable builds would be greatly increased, and cause players to think more about their own personal play style, rather than focusing on "countering" the enemy team.</p>
  <p>This is more easily explained through examples. The following is 10 champions that have example items outlined.</p>
{% endblock %}
